#pagecard{
    width:auto;
    height: auto;
    border-radius: 10px;
    background-color: white;
}
.img{
    width: 90%;
    height: 50%;
    margin-top: 5px;
}

.kard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

p{
    color: white;
    font-weight: bold;
}

h1{
    color: white;
}